@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}


ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #FF5B00 2px solid;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    font-weight: 900;
    align-self: flex-end;
}

.video-logo {
    width: 5rem;
    height: 5rem;
}

.video-logo {
    opacity: .7;
}

/* Header */
.hero {
    background: url('../images/home/showcase.jpeg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: white;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding-top: 40%;

}

.hero #logo-top {
    display: inline;
    align-self: auto;
}

.hero .content h1 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 10px 0 20px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.hero * {
    z-index: 10;
}

/* Post */
.post {
    padding: 50px 30px;
}

.post h2 {
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: #ccc solid 1px;
}

.post .meta {
    margin-bottom: 30px;
}

.post img {
    width: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
}

/* Footer  */
.footer {
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 110px;
}

.footer a {
    color: #333;
}

.footer a:hover {
    color: #2468b0;

}

/* .footer .social .youtube .fab i:hover { */
.footer .social #youtube-color:hover {
    color: red;
}

.footer .social #instagram-color:hover {
    color: red;
}

.footer .social>* {
    margin-right: 30px;
}