/* Text colours */
.text-primary {
    color: #2468b0;
}

.text-secundary {
    color: #0284d0;
}

.text-tertiary {
    color: #315063;
}

.text-quaternary {
    color: antiquewhite;
}

.text-logo-1 {
    color: red;
}

.text-logo-2 {
    color: #fff;
}

.text-logo-3 {
    /* color: #361500; */
    color: rgb(98, 46, 46);
}

/* Buttton */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #2468b0;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary {
    background: #28a745;
    color: #fff;
}

.btn-secondary {
    background: #0284d0;
    color: #fff;
}

.btn-dark {
    background: #333;
    color: #fff;
}

.btn-liight {
    background: #f4f4f4;
    color: #333;
}